[Desktop Entry]
Type=Application
Name=Sound Spring
GenericName=Soundboard
Comment=PipeWire soundboard
Exec=sound-spring
Icon=io.github.benwhite1987.SoundSpring
Terminal=false
Categories=AudioVideo;Audio;
StartupWMClass=sound-spring
DesktopNames=sound-spring
